---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="icon" type="image/gif" href="/coffee-mini.gif" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Tutu site!</h1>
            <p>
                Here I'm going to post about my personal projects and other stuffs
			</p>
			<h5>
				UNDER CONSTRUCTION 🏗️
		 	</h5>
		</main>
		<Footer />
	</body>
</html>
